<% if @ordered_items.present? %>
  <ul class='item-lists'>
    <% @ordered_items.each do |oi| %>
      <% search_item(oi) %>
      <li class='list drop-shadow'>
        <%= link_to item_path(@item.id) do %>
          <div class='item-img-content'>
            <%= image_tag @item.image, class: "item-img" %>

            <% if @item.stock == 0 %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
            <% end %>
            
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= @item.name %>
            </h3>
            <div class='item-price'>
              <span><%= @item.price.to_s(:delimited, delimiter: ',') %>円<br><%= @item.shippingfee.name %></span>
              <div class='star-btn'>
                <%= "在庫：#{@item.stock} 個" %>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  購入した商品はありません
<% end %>