<%= render "shared/header" %>
<div class='main'>
  
  <%# 商品一覧 %>
  <div class='item-contents'>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%= render partial:"item", collection: @items, locals: {item: @item} %>


      <% unless Item.exists? %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              在庫：☆個
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<% if user_signed_in? %>
  <%= link_to( new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>
<%= render "shared/footer" %>